fieldset:not(.fieldgroup).deploy-field-wrapper {
  position: relative;
  width: 50%;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  min-width: 500px;
}

fieldset.deploy-field-wrapper.error {
  background: hsla(15, 75%, 90%, 1);
}

.deploy-field-description {
  display: flex;
  background: #353641;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 10px;
  color: white;
  font-size: 0.8em;
  border-radius: 2px;
  transition: border-left .2s ease-in-out, transform .5s ease-in-out;
  transform: translateY(80%);
  cursor: pointer;
}

.deploy-field-description:hover {
  border-left: 5px solid #42a877;
  transform: translateY(0);
}

.deploy-module-wrapper {
  width: 100%;
}

.deploy-module-wrapper > .details-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.deploy-field-wrapper .form-item__description {
  font-size: 0.6em;
  line-height: 1.5em;
}

.deploy-field-description__column {
  padding: 0 5px;
}

.deploy-field-delete__fake {
  overflow: hidden;
}

.deploy-field-delete__fake .deploy-field-delete__button.button {
  background: #e34f4f;
  margin: 0;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  text-shadow: none;
}

.deploy-field-delete__fake .deploy-field-delete.button {
  background: #7a2121;
  margin: 0;
  color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: none;
  transform: translateX(-100%);
  transition: transform .5s ease-in-out;
  text-shadow: none;
}

.deploy-field-delete__fake--open .deploy-field-delete.button {
  transform: translateX(0);
}

.deploy-field-pre {
  display: inline-block;
  margin: 0;
  vertical-align: text-top;
  color: white;
  background: #555661;
  padding: 0 5px;
  border-radius: 2px;
}
